version: '3.9'
services:
  server:
    build: ./server
    ports:
      - 4000:4000
    container_name: server

  client:
    build: ./client
    ports:
      - 3000:3000
    container_name: client

  auth:
    build: ./server
     ports:
        -3sdf08s

