@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --color-primary: '#F27C35',
  --color-secondary: '#52428B',
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

body {
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

canvas {
  width: 100%;
  height: 100%;
}

.Poster {
  &__card {
    min-width: 15rem;
  }
}

.logo {
  min-width: 6rem;
  height: auto;
}

@media (min-width: 769px) {
  .bottomNav {
    display: none;
  }
}

@media (max-width: 900px) {
  .menu {
    & > div {
      gap: 1rem;

      & > div {
        gap: 0.2rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .menu,
  .user {
    display: none;
  }
}

@media (max-width: 600px) {
  .Poster {
    &__card {
      width: 100%;
      margin: 1rem 0;
    }

    &__display {
      height: 16rem;
    }

    &__container {
      flex-direction: column;
      margin: 0;
    }
  }

  .logo {
    min-width: 4rem;
    margin-right: 1rem;
  }

  .search {
    margin: 0 auto;
    
    & > div {
      padding-left: 0.2rem;
    }
    
    & input {
      font-size: 0.8rem;
      margin-left: -0.2rem;
      padding: 0.5rem 0.2rem 0.5rem 0;
    }
  }

  .balance {
    margin-left: 1rem;
    font-size: 0.8rem;

    & span {
      font-size: 0.6rem;
    }
  }
}